<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>TEST</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script>

        $(document).ready(function(){
            if (!!window.EventSource) {
                console.log('SSE supported.');
                var source = new EventSource('http://adrianbo.duckdns.org:5000/barcode');

                source.addEventListener('message', function(e) {
                  console.log(e.data);
                  var dataHtml = '<p class="botText"><span style="color:blue"> Recibed: </span> <span>' + e.data + "</span></p>";
                  $("#chatbox").append($.parseHTML(dataHtml));
                }, false);

                source.addEventListener('open', function(e) {
                  console.log('Connection was opened.');
                }, false);

                source.addEventListener('error', function(e) {
                  if (e.readyState == EventSource.CLOSED) {
                    console.log('Connection was closed.');
                  }
                }, false);

            } else {
                console.log('SSE notsupported.');
            }
        });

    </script>
    <script>
      $(document).ready(function() {
      let list_data = {{ input_from_python | tojson }};
      console.log(list_data)
      list_data.forEach(function(item){
        if (item[0] == false){
          var logHtml = '<p class="botText"><span style="color:green"> Sended: </span> <span>' + item[1] + "</span></p>";
        }else{
          var logHtml = '<p class="botText"><span style="color:blue"> Recibed: </span> <span>' + item[1] + "</span></p>";
        }
        $("#chatbox").append($.parseHTML(logHtml));
      })
      });
    </script>
</head>
<body>
  <div class="row">
    <div class="col-md-10 mr-auto ml-auto">
      <h1>System sender</h1>
        <form>
          <div id="chatbox">
            <div class="col-md-8 ml-auto mr-auto">
              <p class="botText"><span>Hi! I'm system sender.</span></p>
            </div>
          </div>
          <div id="userInput" class="row">
            <div class="col-md-10">
              <input id="text" type="text" name="msg" placeholder="Message" class="form-control">
              <button type="submit" id="send" class="btn btn-warning">Send</button>
            </div>
          </div>
        </form>
              <button action="/command/clear">clear</button>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $("form").on("submit", function(event) {
          var rawText = $("#text").val();
          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
          $("#text").val("");
          document.getElementById("userInput").scrollIntoView({
            block: "start",
            behavior: "smooth",
          });
          $.ajax({
            data: {
              msg: rawText,
            },
            type: "POST",
            url: "/get",
          }).done(function(data) {
            if (data != "Empty"){
              var botHtml = '<p class="botText"><span style="color:green"> Sended: </span> <span>' + rawText + "</span></p>";
            }else{
              var botHtml = '<p class="botText"><span> Error: ' + data + "</span></p>";
            }
            $("#chatbox").append($.parseHTML(botHtml));
            document.getElementById("userInput").scrollIntoView({
              block: "start",
              behavior: "smooth",
            });
          });
          event.preventDefault();
        });
      });
    </script>
</body>
</html>
